@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme: #1f1f1f;
  --theme-hover: #d8d8d8;
  --theme-active-bg: #d9d9d9;
  --primColor: #2a60dd;
  --blue-bea-1: #20a8d8;
  --blue-bea-2: #63c2de;
  --theme-resize-bar: #efefef;
  --root-bg-lv1: #eef5fa;
  --root-bg-gray: #888888;
  --root-text-size: 12px; 
  --root-text-color-black: #1d1d1d;
  --root-text-color: #3a4e61;
  --root-text-gray-color: #828b94;
  --root-text-gray-color-l1: #4b5563;
  --root-text-gray-blue-color: #a7b1c2;
  --root-white-text-color: #c7c7c7;
  --root-border-color: #e8e8e8;
  --root-border-report-color: #e2e2e2;
  --root-border-table-color: #f0f0f0;
  --hover-bg: #ffffff20;
  --hover-bg-dark: #00000008;
  --hover-bg-dark-l-1: #dcdcdc;
  --mask-bg: #ffffff50;
  --dark-bg: #001628;
  --dark-bg-07: #001628bc;
  --link-color: #008cff;
  --blue: #1673ff;
  --black: #000000;
  --green: #2cc76b;
  --gray-bg: #f1f1f1;
  --white: #ffffff;
  --white-07: #ffffffac;
  --white-05: #ffffff79;
  --red: #ff4d4f;
  --transparent: #ffffff00;
  --red-bold: #ab0003;
  --running-color: #00aa9a;
  --offline-color: #555555;
  --lostgps-color: #891ca2;
  --stopped-color: #e74b3c;
  --stoppedR-color: #0099ce;
  --warning-03: #e6e6e6;
  --warning: #f5a03e;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
.custom-icon {
  width: 25px;
  height: 25px;
}
